@import "tailwindcss";

@theme {
  /* El verde lima característico de tus fotos */
  --color-brand-lime: #D9FF66; 
  /* Un negro suave para textos */
  --color-brand-dark: #1A1A1A;
  /* Gris de fondo para las secciones */
  --color-brand-bg: #F4F7F4;
  
  --font-sans: "Inter", "Geist Sans", sans-serif;
}

:root {
  --background: #dfdfdf;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}